@import url("https://fonts.googleapis.com/css?family=Kalam:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 2px;
}
.btn--black {
  background-color: #363940;
  color: #fff;
  font-weight: 600;
  border: none;
}
.btn--blue {
  background-color: #3897f0;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: none;
  padding: 0.3rem 1.5rem;
  margin: 0;
}
.btn--border-blue {
  background-color: #fff;
  border: 1px solid #3897f0;
  text-transform: none;
  color: #3897f0;
  font-weight: 600;
}
.btn--border {
  border: 1 px solid #c2c2c2;
  background-color: #fff;
  font-family: "roboto condensed";
  font-weight: 700;
  color: #363940;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem 1rem 2rem;
}
.btn--instagram {
  position: absolute;
  left: 44%;
  margin-top: 7.5%;
  color: black;
  border: none;
  font-weight: 400;
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5em;
  padding: 8px 18px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #fff;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .btn--instagram {
    margin-top: 25%;
    left: 30%;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 480px) {
  .card {
    width: 45%;
  }
}
@media screen and (min-width: 480px) {
  .card--mod {
    width: 100%;
  }
}
.card .card__image {
  width: 90%;
  height: 20rem;
  object-fit: cover;
  margin: 0 auto;
}
.card .card__image--mod {
  width: 100%;
}
.card .card__subtitle {
  font-family: "roboto condensed";
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: #c2c2c2;
  margin-top: 1rem;
  text-transform: uppercase;
}
.card .card__title {
  color: #363940;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
}
.card .card__title--mod {
  font-size: 2rem;
}
.card .card__date {
  color: #c2c2c2;
}
.card .card__date--mod {
  color: #363940;
}
.card .card__date--large {
  font-size: 1.2rem;
}
.card .card__description {
  margin: 1rem 0 2rem 0;
  color: #424242;
  line-height: 2rem;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 480px) {
  .wrapper {
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .main {
    flex-basis: 80%;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px #cfc9c9 solid;
  border-bottom: 1px #cfc9c9 solid;
  align-items: center;
  margin-top: 13px;
  padding: 15px 0;
}
.nav__list .nav__items {
  display: flex;
  margin-left: 200px;
  font-family: "Francois One", sans-serif;
}
.nav__list .nav__items .items {
  list-style: none;
  margin-right: 25px;
}
.nav__list .nav__items .items .nav__links {
  text-decoration: none;
  text-transform: uppercase;
}
.nav__list .nav__items .items .nav__links:visited {
  color: black;
}
.nav__list .nav__icon {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 8px;
}

.carrousel {
  width: 100%;
}
.carrousel .section__tittle {
  text-transform: uppercase;
  color: #363940;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border-top: 1px #cfc9c9 solid;
}
.carrousel .carrousel__dessert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carrousel .carrousel__dessert--ensaladas {
  justify-content: start;
}
.carrousel .carrousel__dessert .dessert__item {
  margin: 14px;
  width: 40%;
}
.carrousel .carrousel__dessert .dessert__item .img__item {
  width: 100%;
}
.carrousel .carrousel__dessert .dessert__item .img__item .img__dessert {
  width: 100%;
  height: 7rem;
  flex-grow: 1;
}
.carrousel .carrousel__dessert .dessert__item .img__item .img__ensalada {
  width: 100%;
}
.carrousel .date {
  color: #cfc9c9;
}
.carrousel .date--grey {
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  aside {
    flex-basis: 30%;
  }
}
aside .social__tittle {
  text-transform: uppercase;
  font-weight: 600;
  color: #363940;
}
aside img {
  max-width: 100%;
}
aside hr {
  width: 6rem;
  color: lightgray;
  margin: 2.5rem auto;
}
aside .aboutme {
  text-align: center;
  margin: 1rem 0.5rem 2rem;
}
aside .aboutme img {
  margin: 1.5rem;
  width: 40%;
  border-radius: 50%;
}
aside .aboutme .about__name {
  color: #363940;
  font-size: 1.5rem;
  font-weight: 600;
}
aside .aboutme .about__description {
  margin: 1rem;
}
aside .social {
  text-align: center;
}
aside .social .social__description {
  margin: 2rem 0 1rem;
}
aside .social i {
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}
aside .social .fa-facebook-f {
  background-color: #3b5998;
  padding: 0.5rem 0.7rem;
}
aside .social .fa-twitter {
  background-color: #55acee;
}
aside .social .fa-instagram {
  background-color: #e4405f;
}
aside .social .fa-pinterest {
  background-color: #c92619;
}
aside .social .fa-etsy {
  background-color: #eb6d20;
  padding: 0.5rem 0.7rem;
}
aside .social .fa-youtube {
  background-color: #e02a20;
}
aside .social .fa-envelope {
  background-color: #2584b7;
}
aside .form {
  text-align: center;
  background-color: #e0eef7;
  padding: 3rem 1.5rem 2rem;
  margin: 2rem 0;
}
aside .form .form__description {
  margin: 1rem;
  font-size: 0.9rem;
  color: #696767;
}
aside .form form input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.7rem 0.5rem;
  color: #26272b;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid #9eb1bd;
}
aside .instagram {
  text-align: center;
  margin: 1rem 0.5rem;
}
aside .instagram .details {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}
aside .instagram .details .detail__img {
  width: 30%;
}
aside .instagram .details .detail__img img {
  width: 80%;
  border-radius: 50%;
}
aside .instagram .details .detail__text {
  width: 70%;
}
aside .instagram .details .detail__text .detail__text-up {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}
aside .instagram .details .detail__text .detail__text-up .insta__title {
  color: #363940;
  font-weight: 600;
  text-align: left;
}
aside .instagram .details .detail__text .detail__text-up .insta__title span {
  color: grey;
  font-size: 0.9rem;
}
aside .instagram .details .detail__text .detail__text-down {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
aside .instagram .details .detail__text .detail__text-down p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #363940;
}
aside .instagram .details .detail__text .detail__text-down p span {
  display: block;
  color: #888787;
  font-weight: 400;
}
aside .instagram .insta__text {
  text-align: left;
  margin: 0 1rem 1.5rem;
  font-size: 0.9rem;
  color: grey;
}
aside .instagram .instagram__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
aside .instagram .instagram__img img {
  width: 6rem;
  height: 7rem;
  margin: 0.2rem;
  flex-grow: 1;
}

.article {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.article .article__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #363940;
}

.footer {
  display: flex;
  object-fit: line;
  overflow: hidden;
}
.footer foteer--img {
  display: flex;
  overflow: hidden;
}
.foot--img {
  position: relative;
  width: 260px;
  height: 250px;
}

.bgd {
  background-color: rgb(204, 204, 204);
  padding: 40px 0;
  text-align: center;
  word-spacing: 20px;
}

.stylenav {
  font-family: "Roboto Condensed", sans-serif;
  color: gray;
  text-decoration: none;
}

.copy {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */
