.wrapper {
    

    @media screen and (min-width: 480px) {
        max-width: 1200px;
        display: flex;
        align-items: flex-start;
        margin: 0 auto;
    }

}

.main {

    @media screen and (min-width: 480px) {
        flex-basis: 80%
    }
    
}