.carrousel {
	width: 130%;
	.section__tittle {
		text-transform: uppercase;
		color: $color-dark-grey;
		font-size: 13px;
		font-family: 'Roboto', sans-serif;
		border-top: 1px $color-grey solid;
	}

	.carrousel__dessert {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		margin: 0 auto;

		.dessert__item {
			width: 50%;
			margin: 0 auto;
		}

		.img__item {
			width: 80%;
			border: royalblue solid 2px;

			.img__dessert {
				width: 100%;
			}
		}
	}

	.date {
		color: $color-grey;

		&--grey {
			font-size: 12px;
		}
	}
}
