.carrousel {
	width: 100%;
	margin: 0 30px;
	border-top: solid 1px $color-grey;

	&--ensalada {
		margin: 0 auto;
	}

	.section__tittle {
		text-transform: uppercase;
		color: $color-dark-grey;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		margin: 15px auto;
	}

	.carrousel__dessert {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		margin: 0 auto;

		.dessert__item {
			width: 50%;
			margin: 0 auto;
		}

		.img__item {
			width: 80%;

			.img__dessert {
				width: 100%;
			}
			.img__ensalada {
				width: 100%;
			}
		}
	}
	.date {
		color: $color-grey;
		margin: 5px;

		&--grey {
			font-size: 12px;
		}
	}

	.carrousel__tittle {
		margin-bottom: 10px;
	}
}
