.conteiner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;

	.main {
		width: 210%;
		border: solid 2px black;
	}

	.aside {
		width: 28%;
		border: solid 2px blue;
	}
}
