.footer {
  display: flex;
  object-fit: line;
  overflow: hidden;
}
.footer foteer--img {
  display: flex;
  overflow: hidden;
}
.foot--img {
  position: relative;
  width: 249px;
  height: 249px;
}

.bgd {
  background-color: rgb(204, 204, 204);
  padding: 40px 0;
  text-align: center;
  word-spacing: 20px;
}

.stylenav {
  font-family: "Roboto Condensed", sans-serif;
  color: gray;
  text-decoration: none;
}

.copy {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}
