.tags {

    hr {
        width: 6rem;
        color: lightgray;
        margin: 2.5rem auto;
    }

    .tags__container {
        text-align: center;

        h3 {
            margin: 1rem 1rem 2rem;
        }

        nav {

            a {
                text-decoration: none;
                display: inline-block;
                margin: 0 1.5rem;
                font-weight: 600;
                color: $color-dark-grey;
                padding: .3rem .5rem 0;
                position: relative;
              

                &:before {
                    content: "";
                    height: 7px;
                    position: absolute;
                    background-color: yellow;
                    bottom: 0;
                    z-index: -10;
                    left: 0;
                    width: 100%;
                }
                &:hover {
                    background-color:  yellow;
                }

            }

            
        }
    }
}