.tags {

    hr {
        width: 6rem;
        color: lightgray;
        margin: 2.5rem auto;
    }

    .tags__container {
        text-align: center;

        h3 {
            margin: 1rem 1rem 2rem;
        }

        nav {

            a {
                text-decoration: none;
                display: inline-block;
                margin: 0 1.5rem;
                font-weight: 600;
                color: $color-dark-grey;
                padding: .3rem .5rem 0;
                position: relative;
              

                &:before {
                    content: "";
                    height: 7px;
                    position: absolute;
                    background-color: yellow;
                    bottom: 0;
                    z-index: -10;
                    left: 0;
                    width: 100%;
                }
                &:hover {
                    background-color:  yellow;
                }

            }

            
        }
    }

    .tags__social{
        display:flex;
        flex-direction: column;
        align-items: center;
        height:14rem;
        width:100%;
        padding:1rem;

        @media screen and (min-width: 480px){
            flex-direction: row;
            justify-content: center;
        }

        .icon{
            margin-right:0.3rem;
        }

        .tags__link{
            width:12rem;
            padding:0.5rem;
            display:inline-block;
            color:$color-white;
            text-align: center;
            margin-bottom: 1rem;
            border-radius: 0.2rem;

             @media screen and (min-width: 480px){
                 width:5rem;
                 margin-right:1rem;
                 padding:0.5rem 1rem;
             }
        }

        .tags__twitter{
            background-color: rgb(85, 172, 238);
        }

        .tags__facebook{
            background-color: rgb(59, 89, 152);
        }

        .tags__pinterest{
            background-color: rgb(201, 38, 25)
        }

        .tags__print{
            background-color: hsl(82, 53%, 58%);
        }
    }
}