$sp0: 0.5rem; //8px
$sp1: 1rem; //16px
$sp2: 2rem; //32px
$sp3: 2.5rem; //40px
$sp4: 3rem; //48px
$sp5: 4rem; //64px
$sp6: 6rem; //96px

$font-weight-ligth: 400;
$font-weight-bold: 700;

$tamano: 60px;
$espaciado: 40px;
$subtitulo: 36px;
$margin-subtitulo: 20px;
$margin-body: 90px;

$color-grey: hsl(0, 6%, 80%);
$color-blue: hsl(209, 50%, 55%);
